# Ton lien Discord (ne pas partager ce lien !)
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1493208204505518112/6WO7A0j_QlWISWEGhk8QKfdG9aze4ilTzm_nweWIYXRoDZnr6NAHDbo2PsZUtG__rg_4

# Tes recherches (séparées par une virgule)
VINTED_URLS=https://www.vinted.fr/catalog?search_text=stone%20island&size_id[]=7&price_to=40,https://www.vinted.fr/catalog?search_text=cp%20company&size_id[]=7&price_to=40,https://www.vinted.fr/catalog?search_text=ralph%20lauren%20pull&size_id[]=7&price_to=40

# Délai entre chaque vérification (en secondes)
# 15 secondes est un bon compromis pour le mode gratuit
POLLING_INTERVAL=15

# Garder les articles déjà vus pour éviter les doublons
PERSISTENCE=True
